<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Login Form</title>
  </head>
  <body>

        {% if request.user.is_authenticated %}
            <div class="container">
                <div class="row">
                    <div class="alert alert-warning" role="alert">
                        You're already logged in. Go to <a href="/home/" class="btn btn-primary btn-sm active" role="button" aria-pressed="true">Home</a> page
                    </div>
                </div>
            </div>
        {% else %}
        <!--Login--> 
        <div class="container pt-5"> 
        {% if messages %}
            <div class="row">
                <div class="col-md-8 col-sm-offset-3">
                    {% for message in messages %}
                    <div class="alert alert-danger" role="alert">
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}               
                <form class="form-control login-form" method="POST">
                {% csrf_token %}
                <div class="row justify-content-center">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="panel panel-warning">
                            <div class="panel-body">
                                <div class="form-group clearfix">
                                    <label for="username" class="col-md-6 control-label text-center">Username:</label>
                                    <div class="col-md-8">
                                        <input name="username" value="" type="text" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group clearfix">
                                    <label for="password" class="col-md-6 control-label text-center">Password:</label>
                                    <div class="col-md-8">
                                        <input name="password" type="password" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6 col-md-offset-4">
                                    <center><input name="login" type="submit" value="Login" class="btn btn-success" /> &nbsp;</center>
                                </div>
                            </div>
                            <p class="mx-3 mt-5 text-dark">Don't have an account? <a href="/register">Create an account</a>.</p>
                        </div>
                    </div>
                </div>
                </form>
        </div>
        {% endif %}    
  </body>
</html>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>