<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <title>Register Form</title>
  </head>
  <body>
      <div class="container mt-5">
            <form method="POST" class="form-control">
                {% csrf_token %}
                <div class="row justify-content-center">
                <div class="col-md-7 mx-auto">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                    {# <strong>{{ field|escape }}</strong> #}
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="form-group position-relative">
                        <label>Username <span class="text-danger">*</span></label>{{form.username}}
                    </div>
                    {% if form.username.errors %}
                        {% for error in form.username.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="form-group position-relative">
                        <label>Password <span class="text-danger">*</span></label>{{form.password1}}
                    </div>
                    {% if form.password1.errors %}
                        {% for error in form.password1.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-7">
                    <div class="form-group position-relative">
                        <label>Confirm Password <span class="text-danger">*</span></label>{{form.password2}}
                    </div>
                    {% if form.password2.errors %}
                        {% for error in form.password2.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>

                <div class="col-md-7">
                    <div class="form-group">
                        <div class="custom-control">
                            {{form.check}}<label > &nbsp I Accept <a href="#" class="text-primary">Terms And Condition</a></label>
                        </div>
                    {% if form.check.errors %}
                        {% for error in form.check.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}
                    </div>
                </div>
                <div class="col-md-7">
                    <button class="btn btn-primary w-100" type="submit" >Register</button>
                </div>
                <div class="col-md-7 mx-auto">
                    <p class="mb-0 mt-3 align-right"><small class="text-dark mr-2">Already have an account ?</small> <a href="{% url 'login' %}" class="text-dark font-weight-bold">Sign in</a></p>
                </div>
            </div>
            </form>
      </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </body>
</html>